@tailwind base;
@tailwind components;
@tailwind utilities;

.chip-alive {
    background-color: rgb(85, 204, 68); /* Color para tipo Normal */
    color: #fff; /* Color de texto blanco */
  }
  
  .chip-dead {
    background-color: #b11515; /* Color para tipo Fuego */
    color: #fff; /* Color de texto blanco */
  }
  
  .chip-unknown {
    background-color: #c3cfd1; /* Color para tipo Agua */
    color: #fff; /* Color de texto blanco */
  }